body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 300 !important;
    text-transform: none;
}

h1 span {
    font-weight: 600;
}

h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 300 !important;
    text-transform: none;
}

h3 span {
    font-weight: 600;
}

h6 {
    font-family: "Raleway", sans-serif;
    font-size: 0.7rem !important;
    font-weight: 600 !important;
    line-height: 0.9 !important;
    margin: 0 !important;
    padding: 0;
    text-transform: uppercase;
    
}

h7 {
    font-size: 1.4rem !important;
    font-family: "Raleway", sans-serif;
}

.h7afterfix {
    padding-top: 15px;
}

.button {
    background-color: transparent;
    border-radius: 40px;
    border-style: solid;
    border-width: 1px;
    bottom: auto;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    max-width: 200px;
    padding: 12px 30px 12px;
    position: relative;
    right: auto;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.button:hover {
    text-decoration: none;
}

.color1 {
    color: #000;
}

.color2 {
    color: #787878;
}

.highlight1 {
    border-color: #a2cc41;
    color: #a2cc41;
}

.highlight1:hover {
    border-color: #a2cc41;
    color: #a2cc41;
}

.highlight2 {
    border-color: #fcdd3f;
    color: #fcdd3f;
}

.highlight3 {
    border-color: #f9a450 !important;
    color: #f9a450 !important;
}

.icon-small {
    font-size: 16px;
    height: 40px;
    padding-top: 5px;
    width: 40px;
}

.icon-wrap {
    border-width: 2px; /* solid #787878;*/
    border-style: solid;
    border-color: rgba(50, 50, 50, 0.1);
    border-radius: 50%;
    text-align: center;
    /*padding: 15px;*/
}

/* Header */
.brand-bar {
    border-bottom: 1px solid #e5e5e5;
}

.brand-bar .top-logo {
    text-align: center;
}

.brand-bar .promo-section {
    padding: 0 0 10px 0;
}

.brand-bar .promo-box {
    display: inline-block;
}

.brand-bar .promo-box:not(:first-child) {
    margin-left: 10px;
}

.brand-bar .promo-icon {
    display: inline-block;
    vertical-align: middle;
}

.brand-bar .promo-details {
    display: inline-block;
    vertical-align: middle;
    padding-top: 5px;
}

.brand-bar .promo-details a {
    text-decoration: none;
}

.brand-bar .promo-details .text {
    font-size: 1..0rem;
    font-weight: 600;
}

.footer {
    font-family: "Raleway", sans-serif;
    text-align: center;
}

.footer:before {
    content: "";
    display: block;
    min-height: 4px;
    background: -webkit-linear-gradient(left, #fcdd3f, #fcdd3f 33.3333%, #f9a450 33.3334%, #f9a450 66.6666%, #a2cc41 66.6667%);
    background: linear-gradient(to right, #fcdd3f, #fcdd3f 33.3333%, #f9a450 33.3334%, #f9a450 66.6666%, #a2cc41 66.6667%);
}

.footer .heading {
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer .news .post_title {
    padding: 0 !important;
    margin: 0 !important;
}

.footer .news .post_date {
    font-size: 0.9rem !important;
    line-height: 1;
}

.footer .company-info a {
    text-decoration: none;
}

.footer .copyright {
    border-top: solid 1px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 15px 0 0 0;
}

.footer .copyright p {
    font-size: 0.8rem;
    margin: 0;
}

/* Home Page */
.welcome {
    background-image: url('../img/welcome_back.jpg');
    background-size: cover;
    padding: 50px 0 50px 0;
}

.hp-features {
    margin: -120px 0 50px 0 !important;
    text-align: center;
}